*{
    margin: 0%;
    padding: 0%;
}
section{
    background-color: lightslategrey;
    width: fit-content;
    box-shadow: rgb(46, 238, 8) 0.5rem 0.5rem 1rem;
    margin: 1rem 0rem 0rem 1rem;
}
div{
    margin: 0.2rem 0.2rem 0rem 0.2rem;    
}
#display{
    height: 3rem;
    display: block;
    margin: auto;
    margin-top: 0.1rem;
    text-align: right;
    font-size: 2rem;
    width: 16.5rem;
    cursor:default;
}
.button{
    border: none;
    width: 4rem;
    height: 3rem;
}
.button:hover{
    background-color: rgb(21, 184, 56) ;
}
.opera{
    background-color: rgb(133, 131, 228);
}
.equals{
    background-color: rgb(44, 45, 48)
}
.equals:hover{
    background-color: rgb(77, 148, 255);
}